
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/*-------Variables------------------*/
:root {
    --almost-white:hsl(0, 0%, 98%);
    --medium-grey:hsl(0, 0%, 41%);
    --almost-black:hsl(0, 0%, 8%);

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 10px;
    font-family: 'Epilogue', sans-serif;
    font-size: 0.9rem;
    background-color:var(--almost-white);
    color:var(--medium-grey);
}

.nav-area {
    display: flex;
    column-gap: 30px;
    color:var(--medium-grey);
    
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
}

.nav-bar-main {
    list-style: none;
}


.nav-bar ul {
    display: inline;
}
.nav-bar li{
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}




.burger {
    display: none;
    
    
    
}
.burger-button {
    width: 25px;
    height: 25px;
    border: none;
    cursor:pointer;
    text-align: center;
}

.burger-bar {
    width: 15px;
    height: 2px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;
}


/*Context Menus Features*/
.context-menu-features{
    position: absolute;
    background-color: white;
    padding: 15px;
    font-size: 0.8rem;
    width: 130px;
    height: auto;
    border-radius: 7px;
    box-shadow:2px 2px 35px rgb(193, 193, 193);
    display: none;
    
}

.context-menu-features li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.context-menu-features img {
    position: relative;
    margin-right: 5px;
    width: 14px;
    top:2px
}

/*--------Context Menu Company--------------*/
.context-menu-company{
    position: absolute;
    background-color: white;
    padding: 15px;
    font-size: 0.8rem;
    width: 130px;
    height: auto;
    border-radius: 7px;
    box-shadow:2px 2px 35px rgb(193, 193, 193);
    display: none;
}

.context-menu-company li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    
}







@media screen and (max-width:575px) {
    .nav-area {
        justify-content: space-between;
    }

    .nav-bar {
        
        font-size: 3rem;
        position: absolute;
        right:-15px;
        background-color: aqua;
        flex-direction: column;
        padding-top: 100px;
        padding-left: 10px;
        width: 70%;
    }

    .nav-bar ul {
        display: block;
    }
    .nav-bar li{
        display: block;
        margin-bottom: 25px;
    }

    .burger {
        display: inline;
    }
    
}
    
